* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    z-index: 3;
}

.logo-top {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

.logo-top img {
    width: 48px;
    height: auto;
    float: left;
    border-radius: 50%;
}

.logo-top div {
    padding-left: 60px;
    color: white;
    display: block;
}

.large {
    font-size: 30px;
    font-weight: bold;
    margin-top: -6px;
}

.small {
    margin-top: -4px;
}

.nav-list-top {
    float: right;
    display: flex;
    list-style: none;
}

.list-item-top a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding-top: 20px;
    padding-right: 15px;
}

.list-item-top a:hover {
    color: lightblue;
    text-decoration: none;
}

.sub-list-top {
    display: none;
    background-color: white;
    list-style: none;
    border-left: 4px solid #012D5C;
    margin-top: 17px;
    box-shadow: 0 3.9px 3.6px rgba(0, 0, 0, 0.13), 0 10.8px 10px rgba(0, 0, 0, 0.085), 0 25.9px 24.1px rgba(0, 0, 0, 0.065), 0 86px 80px rgba(0, 0, 0, 0.045);
}

.list-item-top:hover .sub-list-top {
    display: block;
}

.sub-list-top li a {
    color: black;
    border-bottom: 1px solid cornflowerblue;
    text-align: center;
    padding-bottom: 10px;
}

.sub-list-top li a:hover {
    color: white;
    background-color: cornflowerblue;
}

main {
    margin-top: 100px;
}


/* footer */

footer {
    width: 100%;
    height: auto;
    z-index: 3;
}

footer div {
    padding-top: 10px;
    height: 280px;
    background-color: #002C46;
}


/* 1 */

.logo-foot {
    float: left;
    width: 33%;
    /* margin-left: 2%;
    margin-right: 4%; */
}

.logo-foot img {
    width: 135px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-foot a {
    display: block;
    text-align: center;
    color: white;
}

.logo-foot a:hover {
    color: white;
    text-decoration: none;
}

.hindi-foot {
    font-weight: bold;
    font-size: 29px;
    padding-top: 7px;
}

.eng-foot {
    font-size: 24px;
}


/* 2 */

.link-foot {
    float: left;
    width: 23%;
    text-align: justify;
    padding-left: 15px;
}

.link-foot p {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 7px;
    color: white;
    /* padding-left: 4px; */
}

.link-foot ul {
    list-style: none;
}

.link-foot ul li a {
    text-decoration: none;
    font-size: 20px;
    /* padding-left: 3px; */
    color: white;
    display: block;
    padding-bottom: 1px;
}

.link-foot ul li a:hover {
    color: lightblue;
}


/* 3 */

.update-foot {
    float: left;
    width: 23%;
    text-align: justify;
    padding-left: 5px;
}

.update-foot p {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 7px;
    color: white;
    /* padding-left: 4px; */
}

.update-foot ul {
    list-style: none;
}

.update-foot ul li a {
    text-decoration: none;
    font-size: 20px;
    /* padding-left: 3px; */
    color: white;
    display: block;
    padding-bottom: 1px;
}

.update-foot ul li a:hover {
    color: lightblue;
}


/* 4 */

.contact-foot {
    float: left;
    width: 21%;
    text-align: justify;
    /* padding-left: 5px; */
}

.contact-foot p {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 7px;
    color: white;
    /* padding-left: 4px; */
}

.contact-foot ul {
    list-style: none;
}

.contact-foot ul li a {
    text-decoration: none;
    font-size: 20px;
    /* padding-left: 3px; */
    color: white;
    display: block;
    padding-bottom: 2px;
}

.contact-foot ul li a:hover {
    color: lightblue;
}

.contact-foot>a i {
    padding-top: 10px;
    font-size: 24px;
    padding-left: 10px;
    color: white;
}

.contact-foot>a i:hover {
    color: lightblue;
}

nav.black-nav {
    background: url(../images/6.jpg);
    color: black;
    box-shadow: 0 3.9px 3.6px rgba(0, 0, 0, 0.13), 0 10.8px 10px rgba(0, 0, 0, 0.085), 0 25.9px 24.1px rgba(0, 0, 0, 0.065), 0 86px 80px rgba(0, 0, 0, 0.045);
}

.list-item a.black-item {
    color: cornflowerblue;
}

.logo .large.black-large {
    color: cornflowerblue;
}

.logo .small.black-small {
    color: cornflowerblue;
}

.carousel-item img {
    height: 700px;
}