* {
    margin: 0;
    padding: 0;
}


/* menu bar */

.logo {
    float: left;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.nav-list {
    float: right;
    display: flex;
    list-style: none;
    padding-top: 47px;
    padding-right: 56px;
}

.logo {
    padding-left: 7%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.large {
    font-size: 54px;
    font-weight: bolder;
}

.small {
    text-align: center;
    font-size: 15px;
}

.list-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-left: 24px;
}


/* menu bar */


/* on scroll effect */

nav.black-nav {
    background: url(../images/6.jpg);
    color: black;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
}

.list-item a.black-item {
    color: cornflowerblue;
}

.logo .large.black-large {
    color: cornflowerblue;
}

.logo .small.black-small {
    color: cornflowerblue;
}


/* on scroll effect */


/* slide show */

.carousel-item img {
    height: 700px;
}


/* slide show */